* {
    -fx-font-family: Arial;
}

.menu-item {
    -fx-background-color: #6c5ce7;
    -fx-font-size: 18px;
    -fx-text-fill: #fff !important;
    -fx-background-insets: 5px;
}

.menu-item:hover {
    -fx-background-color: #22a6b3;
}

.menu-item:pressed {
    -fx-background-color: #dff9fb;
}

.exit-btn {
    -fx-background-color: #eb4d4b !important;
}

.product-create-container Text {
    -fx-font-size: 18px;
}

.product-create-container Label {
    -fx-font-size: 18px !important;
}

.img-preview {
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.submit-btn {
    -fx-background-color: #74b9ff;
    -fx-background-radius: 4px;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
}

.intro-container Text {
    -fx-font-size: 18px;
    -fx-font-style: italic;
}

.text-header {
    -fx-font-size: 20px;
    -fx-font-style: normal;
}
